    <div class="row">
        <div class="col-md-4">
            {{#link-to 'kiosk-one'}}Kiosk Number One{{/link-to}}
        </div>
        <div class="col-md-4">
            {{#link-to 'kiosk-two'}}Kiosk Number Two{{/link-to}}
        </div>
        <div class="col-md-4">
            {{#link-to 'kiosk-three'}}Kiosk Number Three{{/link-to}}
        </div>
    </div>